body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.486274509803922);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
}
#u1893 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
}
#u1894 {
  position:absolute;
  left:2px;
  top:27px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1895 {
  position:absolute;
  left:21px;
  top:22px;
  width:82px;
  height:27px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1896 {
  position:absolute;
  left:0px;
  top:4px;
  width:82px;
  word-wrap:break-word;
}
#u1897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1897 {
  position:absolute;
  left:189px;
  top:124px;
  width:321px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1898 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u1899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1899 {
  position:absolute;
  left:189px;
  top:179px;
  width:145px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1900 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1902 {
  position:absolute;
  left:189px;
  top:222px;
  width:353px;
  height:40px;
}
#u1902_input {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u1904 {
  position:absolute;
  left:498px;
  top:229px;
  width:33px;
  height:28px;
  font-family:'anticon', 'anticon Medium';
  font-weight:500;
  font-style:normal;
  font-size:16px;
}
#u1905 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u1906 {
  position:absolute;
  left:205px;
  top:230px;
  width:67px;
  height:30px;
  font-size:22px;
}
#u1907 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1908 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1085px;
}
#u1909 {
  position:absolute;
  left:1279px;
  top:0px;
  width:1px;
  height:1084px;
}
#u1910 {
  position:absolute;
  left:2px;
  top:534px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1085px;
}
#u1911 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1084px;
}
#u1912 {
  position:absolute;
  left:2px;
  top:534px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:2px;
}
#u1913 {
  position:absolute;
  left:0px;
  top:1084px;
  width:1280px;
  height:1px;
}
#u1914 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1915 {
  position:absolute;
  left:189px;
  top:19px;
  width:241px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1916 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u1917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1917 {
  position:absolute;
  left:189px;
  top:514px;
  width:271px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1918 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u1919 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1920 {
  position:absolute;
  left:189px;
  top:566px;
  width:353px;
  height:40px;
}
#u1920_input {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u1922 {
  position:absolute;
  left:498px;
  top:572px;
  width:33px;
  height:28px;
  font-family:'anticon', 'anticon Medium';
  font-weight:500;
  font-style:normal;
  font-size:16px;
}
#u1923 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u1924 {
  position:absolute;
  left:205px;
  top:573px;
  width:106px;
  height:26px;
  font-size:22px;
}
#u1925 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u1926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#5298D7;
}
#u1926 {
  position:absolute;
  left:1093px;
  top:11px;
  width:161px;
  height:45px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#5298D7;
}
#u1927 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1928 {
  position:absolute;
  left:189px;
  top:286px;
  width:253px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1929 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u1930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1931 {
  position:absolute;
  left:189px;
  top:338px;
  width:353px;
  height:40px;
}
#u1931_input {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1932 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u1933 {
  position:absolute;
  left:498px;
  top:344px;
  width:33px;
  height:28px;
  font-family:'anticon', 'anticon Medium';
  font-weight:500;
  font-style:normal;
  font-size:16px;
}
#u1934 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u1935 {
  position:absolute;
  left:205px;
  top:345px;
  width:82px;
  height:30px;
  font-size:22px;
}
#u1936 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u1937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1937 {
  position:absolute;
  left:189px;
  top:398px;
  width:271px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1938 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1940 {
  position:absolute;
  left:189px;
  top:450px;
  width:353px;
  height:40px;
}
#u1940_input {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u1942 {
  position:absolute;
  left:498px;
  top:456px;
  width:33px;
  height:28px;
  font-family:'anticon', 'anticon Medium';
  font-weight:500;
  font-style:normal;
  font-size:16px;
}
#u1943 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u1944 {
  position:absolute;
  left:205px;
  top:457px;
  width:60px;
  height:30px;
  font-size:22px;
}
#u1945 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u1946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(82, 152, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1946 {
  position:absolute;
  left:189px;
  top:1012px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1947 {
  position:absolute;
  left:2px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u1948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1948 {
  position:absolute;
  left:189px;
  top:633px;
  width:353px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1949 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u1950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1950 {
  position:absolute;
  left:189px;
  top:688px;
  width:163px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u1952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1953 {
  position:absolute;
  left:189px;
  top:731px;
  width:353px;
  height:40px;
}
#u1953_input {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u1955 {
  position:absolute;
  left:498px;
  top:737px;
  width:33px;
  height:28px;
  font-family:'anticon', 'anticon Medium';
  font-weight:500;
  font-style:normal;
  font-size:16px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u1957 {
  position:absolute;
  left:205px;
  top:738px;
  width:23px;
  height:30px;
  font-size:22px;
}
#u1958 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1959 {
  position:absolute;
  left:189px;
  top:787px;
  width:294px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1960 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
#u1961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1962 {
  position:absolute;
  left:189px;
  top:821px;
  width:353px;
  height:40px;
}
#u1962_input {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u1964 {
  position:absolute;
  left:498px;
  top:827px;
  width:33px;
  height:28px;
  font-family:'anticon', 'anticon Medium';
  font-weight:500;
  font-style:normal;
  font-size:16px;
}
#u1965 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u1966 {
  position:absolute;
  left:205px;
  top:828px;
  width:111px;
  height:30px;
  font-size:22px;
}
#u1967 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1968 {
  position:absolute;
  left:189px;
  top:893px;
  width:235px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1969 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u1970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1971 {
  position:absolute;
  left:189px;
  top:938px;
  width:353px;
  height:40px;
}
#u1971_input {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u1973 {
  position:absolute;
  left:498px;
  top:944px;
  width:33px;
  height:28px;
  font-family:'anticon', 'anticon Medium';
  font-weight:500;
  font-style:normal;
  font-size:16px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u1975 {
  position:absolute;
  left:205px;
  top:945px;
  width:77px;
  height:30px;
  font-size:22px;
}
#u1976 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
