body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.486274509803922);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
}
#u1813 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
}
#u1814 {
  position:absolute;
  left:2px;
  top:27px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1815 {
  position:absolute;
  left:21px;
  top:22px;
  width:82px;
  height:27px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1816 {
  position:absolute;
  left:0px;
  top:4px;
  width:82px;
  word-wrap:break-word;
}
#u1817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1817 {
  position:absolute;
  left:189px;
  top:124px;
  width:321px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1818 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u1819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1819 {
  position:absolute;
  left:189px;
  top:179px;
  width:145px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1820 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1821 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1822 {
  position:absolute;
  left:189px;
  top:222px;
  width:353px;
  height:40px;
}
#u1822_input {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1823 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u1824 {
  position:absolute;
  left:498px;
  top:229px;
  width:33px;
  height:28px;
  font-family:'anticon', 'anticon Medium';
  font-weight:500;
  font-style:normal;
  font-size:16px;
}
#u1825 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u1826 {
  position:absolute;
  left:205px;
  top:230px;
  width:67px;
  height:30px;
  font-size:22px;
}
#u1827 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1085px;
}
#u1829 {
  position:absolute;
  left:1279px;
  top:0px;
  width:1px;
  height:1084px;
}
#u1830 {
  position:absolute;
  left:2px;
  top:534px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1085px;
}
#u1831 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1084px;
}
#u1832 {
  position:absolute;
  left:2px;
  top:534px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:2px;
}
#u1833 {
  position:absolute;
  left:0px;
  top:1084px;
  width:1280px;
  height:1px;
}
#u1834 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1835 {
  position:absolute;
  left:189px;
  top:19px;
  width:241px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1836 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u1837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1837 {
  position:absolute;
  left:189px;
  top:514px;
  width:271px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1838 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u1839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1840 {
  position:absolute;
  left:189px;
  top:566px;
  width:353px;
  height:40px;
}
#u1840_input {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1841 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u1842 {
  position:absolute;
  left:498px;
  top:572px;
  width:33px;
  height:28px;
  font-family:'anticon', 'anticon Medium';
  font-weight:500;
  font-style:normal;
  font-size:16px;
}
#u1843 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u1844 {
  position:absolute;
  left:205px;
  top:573px;
  width:106px;
  height:26px;
  font-size:22px;
}
#u1845 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u1846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#5298D7;
}
#u1846 {
  position:absolute;
  left:1093px;
  top:11px;
  width:161px;
  height:45px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#5298D7;
}
#u1847 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1848 {
  position:absolute;
  left:189px;
  top:286px;
  width:253px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1849 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u1850 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1851 {
  position:absolute;
  left:189px;
  top:338px;
  width:353px;
  height:40px;
}
#u1851_input {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1852 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u1853 {
  position:absolute;
  left:498px;
  top:344px;
  width:33px;
  height:28px;
  font-family:'anticon', 'anticon Medium';
  font-weight:500;
  font-style:normal;
  font-size:16px;
}
#u1854 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u1855 {
  position:absolute;
  left:205px;
  top:345px;
  width:82px;
  height:30px;
  font-size:22px;
}
#u1856 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u1857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1857 {
  position:absolute;
  left:189px;
  top:398px;
  width:271px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1858 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u1859 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1860 {
  position:absolute;
  left:189px;
  top:450px;
  width:353px;
  height:40px;
}
#u1860_input {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1861 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u1862 {
  position:absolute;
  left:498px;
  top:456px;
  width:33px;
  height:28px;
  font-family:'anticon', 'anticon Medium';
  font-weight:500;
  font-style:normal;
  font-size:16px;
}
#u1863 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u1864 {
  position:absolute;
  left:205px;
  top:457px;
  width:60px;
  height:30px;
  font-size:22px;
}
#u1865 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u1866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(82, 152, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1866 {
  position:absolute;
  left:189px;
  top:1012px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1867 {
  position:absolute;
  left:2px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u1868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1868 {
  position:absolute;
  left:189px;
  top:633px;
  width:353px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1869 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u1870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1870 {
  position:absolute;
  left:189px;
  top:688px;
  width:163px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1871 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u1872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1873 {
  position:absolute;
  left:189px;
  top:731px;
  width:353px;
  height:40px;
}
#u1873_input {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1874 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u1875 {
  position:absolute;
  left:498px;
  top:737px;
  width:33px;
  height:28px;
  font-family:'anticon', 'anticon Medium';
  font-weight:500;
  font-style:normal;
  font-size:16px;
}
#u1876 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u1877 {
  position:absolute;
  left:205px;
  top:738px;
  width:23px;
  height:30px;
  font-size:22px;
}
#u1878 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1879 {
  position:absolute;
  left:189px;
  top:787px;
  width:294px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1880 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
#u1881 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1882 {
  position:absolute;
  left:189px;
  top:821px;
  width:353px;
  height:40px;
}
#u1882_input {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u1884 {
  position:absolute;
  left:498px;
  top:827px;
  width:33px;
  height:28px;
  font-family:'anticon', 'anticon Medium';
  font-weight:500;
  font-style:normal;
  font-size:16px;
}
#u1885 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u1886 {
  position:absolute;
  left:205px;
  top:828px;
  width:111px;
  height:30px;
  font-size:22px;
}
#u1887 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1888 {
  position:absolute;
  left:189px;
  top:893px;
  width:235px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#434343;
}
#u1889 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u1890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1891 {
  position:absolute;
  left:189px;
  top:938px;
  width:353px;
  height:40px;
}
#u1891_input {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u1893 {
  position:absolute;
  left:498px;
  top:944px;
  width:33px;
  height:28px;
  font-family:'anticon', 'anticon Medium';
  font-weight:500;
  font-style:normal;
  font-size:16px;
}
#u1894 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u1895 {
  position:absolute;
  left:205px;
  top:945px;
  width:77px;
  height:30px;
  font-size:22px;
}
#u1896 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
