body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1645 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:299px;
}
#u1646 {
  position:absolute;
  left:401px;
  top:286px;
  width:301px;
  height:299px;
}
#u1647 {
  position:absolute;
  left:2px;
  top:142px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1648 {
  position:absolute;
  left:402px;
  top:585px;
  width:300px;
  height:98px;
}
#u1649 {
  position:absolute;
  left:2px;
  top:41px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1650 {
  position:absolute;
  left:426px;
  top:604px;
  width:253px;
  height:60px;
}
#u1651 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u1652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1652 {
  position:absolute;
  left:494px;
  top:693px;
  width:140px;
  height:40px;
}
#u1653 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u1654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.486274509803922);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
}
#u1654 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
}
#u1655 {
  position:absolute;
  left:2px;
  top:27px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1656 {
  position:absolute;
  left:1043px;
  top:25px;
  width:33px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1657 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1658 {
  position:absolute;
  left:932px;
  top:25px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1659 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1660 {
  position:absolute;
  left:1123px;
  top:25px;
  width:33px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1661 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1662 {
  position:absolute;
  left:1202px;
  top:25px;
  width:33px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1663 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1664 {
  position:absolute;
  left:21px;
  top:22px;
  width:82px;
  height:27px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1665 {
  position:absolute;
  left:0px;
  top:4px;
  width:82px;
  word-wrap:break-word;
}
#u1666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1666 {
  position:absolute;
  left:821px;
  top:25px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1667 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1668 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1085px;
}
#u1669 {
  position:absolute;
  left:1279px;
  top:0px;
  width:1px;
  height:1084px;
}
#u1670 {
  position:absolute;
  left:2px;
  top:534px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1085px;
}
#u1671 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1084px;
}
#u1672 {
  position:absolute;
  left:2px;
  top:534px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:2px;
}
#u1673 {
  position:absolute;
  left:0px;
  top:1083px;
  width:1280px;
  height:1px;
}
#u1674 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1675 {
  position:absolute;
  left:851px;
  top:48px;
  width:5px;
  height:5px;
}
#u1676 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u1677 {
  position:absolute;
  left:405px;
  top:116px;
  width:434px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u1678 {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  white-space:nowrap;
}
#u1679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
}
#u1679 {
  position:absolute;
  left:73px;
  top:359px;
  width:253px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
}
#u1680 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u1681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
}
#u1681 {
  position:absolute;
  left:73px;
  top:622px;
  width:281px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
}
#u1682 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u1683 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:127px;
}
#u1684 {
  position:absolute;
  left:439px;
  top:211px;
  width:225px;
  height:126px;
}
#u1685 {
  position:absolute;
  left:2px;
  top:55px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
}
#u1686 {
  position:absolute;
  left:467px;
  top:254px;
  width:169px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
}
#u1687 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1688 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:127px;
}
#u1689 {
  position:absolute;
  left:713px;
  top:211px;
  width:225px;
  height:126px;
}
#u1690 {
  position:absolute;
  left:2px;
  top:55px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
}
#u1691 {
  position:absolute;
  left:741px;
  top:254px;
  width:169px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
}
#u1692 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1693 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:127px;
}
#u1694 {
  position:absolute;
  left:439px;
  top:347px;
  width:225px;
  height:126px;
}
#u1695 {
  position:absolute;
  left:2px;
  top:55px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
}
#u1696 {
  position:absolute;
  left:481px;
  top:390px;
  width:141px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
}
#u1697 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1698 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:127px;
}
#u1699 {
  position:absolute;
  left:713px;
  top:347px;
  width:225px;
  height:126px;
}
#u1700 {
  position:absolute;
  left:2px;
  top:55px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
}
#u1701 {
  position:absolute;
  left:755px;
  top:390px;
  width:141px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
}
#u1702 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1703 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:127px;
}
#u1704 {
  position:absolute;
  left:439px;
  top:524px;
  width:225px;
  height:126px;
}
#u1705 {
  position:absolute;
  left:2px;
  top:55px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
}
#u1706 {
  position:absolute;
  left:495px;
  top:567px;
  width:113px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
}
#u1707 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1708 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:127px;
}
#u1709 {
  position:absolute;
  left:713px;
  top:676px;
  width:225px;
  height:126px;
}
#u1710 {
  position:absolute;
  left:2px;
  top:55px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
}
#u1711 {
  position:absolute;
  left:755px;
  top:719px;
  width:141px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
}
#u1712 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1713 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:127px;
}
#u1714 {
  position:absolute;
  left:439px;
  top:676px;
  width:225px;
  height:126px;
}
#u1715 {
  position:absolute;
  left:2px;
  top:55px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
}
#u1716 {
  position:absolute;
  left:495px;
  top:719px;
  width:113px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
}
#u1717 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1718 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:127px;
}
#u1719 {
  position:absolute;
  left:713px;
  top:524px;
  width:225px;
  height:126px;
}
#u1720 {
  position:absolute;
  left:2px;
  top:55px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
}
#u1721 {
  position:absolute;
  left:769px;
  top:567px;
  width:113px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#5E5E5E;
}
#u1722 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:51px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1723 {
  position:absolute;
  left:465px;
  top:874px;
  width:199px;
  height:51px;
  font-size:28px;
}
#u1724 {
  position:absolute;
  left:2px;
  top:6px;
  width:195px;
  word-wrap:break-word;
}
